{% extends "layout.html" %}
{% block title %}Iconik Credentials{% endblock %}
{% block body %}
<h2>Iconik Credentials</h2>
<form action="update_credentials" method=post>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
    <p>
        <input placeholder="App ID" type="text" name="app_id" value="{{ app_id }}" class=urlinput/><br><br>
        <input placeholder="Auth Token" type="text" name="auth_token" value="{{ auth_token }}" class=urlinput/><br><br>
        <input placeholder="Storage ID" type="text" name="storage_id" value="{{ storage_id }}" class=urlinput/><br><br>
        <input type=submit value="Update credentials">
    </p>
</form>
{% endblock %}
